/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (min-width:769px) and (max-width: 1024px) {
     .filtre{
    display: flex;
    flex-wrap: wrap;
    height: 50px;
    align-items: center;
    gap: 10px;
}
.filtre h3{
    display: flex;
    font-size: 18px;
    height: 21px;
    width: 100%!important;
    margin: 0!important;
}
.filtre div{
    display: flex;
    gap: 15px;
}
.item{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #D9D9D9;
    padding: 13px 19px;
    gap:10px;
}
.item:hover{

    background-color:#DEEBFF;
}
    .filtre div img{
        display: flex;
    }
    .filtre div a{
        display: flex;
        font-size: 16px;
        height: 21px;
    }
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .activités{
    margin-top: 35px;
    margin-bottom: 35px;
    height: 330px;
    padding-left :0px;
    padding-right: 0px;
}
.activités-title{
margin-bottom:30px;
margin-top: 0px;
}
.activités-card .card{
display: flex;
justify-content: space-around;
flex-direction: column;
height: 270px;
width: 100%;
padding: 0;

}
.activités-card {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 30px;
grid-row-gap: 0px;
padding-left :30px;
padding-right: 30px;
}
 
.activités-card .card img{
    display: flex;
    height: 200px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
}
.activités-card .card p{
    display: flex;
    padding: 20px 19px 20px 19px;
    font-weight: 700;
    font-size: 16px;
    margin: 0px;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 924px;
    height: 163px;
    background-color: #F2F2F2;

}
.footer h3{
    padding-bottom: 7.5px;
    margin : 0px;
}
.footer li{
    display: flex;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.footer{
    width: 248px;
    padding: 20px;
}
.footer ul{
    padding-left: 0px;
    margin : 0px;
}
.footer h3{
    font-size: 18px;
}

.footer li:nth-last-child(-n+1){
    padding-bottom: 0px;
}
}