/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    margin : 0px;
}

header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

#logo{
    height:19px;
    width: 61px;
    padding: 30px 0px 30px 0px;
}
.header ul {
     display: inline-flex;
    gap: 68px;
    margin: 0px;
}
.header ul li {
    list-style-type: none;
    padding-top : 15px;
}

.header li:hover{
    border-top-style: solid;
    border-width: 2px;
    border-top-color :#0065FC;
    color: blue;
    padding-top: 13px;
}
#info{
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.headline h1{
    font-size: 22px;
    margin-bottom: 8px;
}
.headline p{
    font-size : 16px;
    margin: 0;
}
.recherche { 
    display:flex;
    font-size: 18px;
    font-weight: bolder;
 }
 .fa-magnifying-glass{
    display :none;
 }
.vector{
    background-color: #F2F2F2; 
    width: 50px; 
    border-radius: 15px 0 0 15px;
    padding-top: 15px;
    text-align: center;
    fill: #000;
}
.icone p{
margin:0;
}
#recherche{
    height: 49px;
    border-style: solid;
    border-right-style : none;
    border-color: #F2F2F2;
    border-width : 1px;
    text-align:center;
    
}
#recherche:focus{
     outline: none; 
}
::placeholder {
  color: black;
  font-weight: 700;
  font-size: 18px;
}
.bouton{
    
    height: 49px;
    width: 132px;
    background-color: #0065FC;
    color: white;
    border-style: none;
    border-radius: 0 15px 15px 0 ;
   
}
.bouton p{
margin : 15px 16px 15px 16px;

}
.filtre{
    display: flex;
    height: 50px;
    align-items: center;
    gap: 10px;
}
.filtre h2{
    display: flex;
    font-size: 18px;
    height: 21px;
}
.filtre div{
    display: flex;
    gap: 15px;
}
.item{
    display: flex;
    font-size: 17px;
    font-weight: bold;
    border-radius: 25px;
    border-width: 2px;
    border-style: solid;
    border-color: #D9D9D9;
    padding: 13px 19px;
    gap:10px;
}
.item:hover{

    background-color:#DEEBFF;
}
.filtre i{
    display: flex;
    height: 20px;
}
.icone{
    display: flex;
    gap: 10px;
    align-items: center;
    font-size: 16px;
    margin-bottom: 35px;
}
.icone img{
    height : 10px;
    width: 4px;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: #D9D9D9;
    padding: 7px 10px 7px 10px;
}
.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

a {
    color: inherit;
    text-decoration: none;
}

.section-title {
    margin: 0;
    font-size: 22px;
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}
.hebergement-title .section-title{
    margin-bottom : 30px;
}
.hebergements-cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap : 30px;
}
.hebergements .card{
    display: flex;
    width : 240px;
    height : 187px;
    padding-bottom : 15px;
    flex-direction: column;

}
.hebergements .card-content {
    padding-left: 15px;
    display: flex;
    flex-direction: column;
}
.hebergements  img{
    height: 124px;
    width : 100%;
    border-radius : 20px 20px 0 0;
}
.hebergements .card-title{
    width: 100%;
    height : 19px;
    margin-top: 4px;
    margin-bottom : 8px;
}
.hebergements .card-subtitle{
    margin : 0px;
    height : 16px;
    font-size : 14px;
    margin-bottom : 8px;
}
.section-bottom{
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 700;

}
/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}
/****** Activités ***********/
.activités{
    margin-top: 35px;
    margin-bottom: 35px;
    height: 499px;
    width: 100%;
    padding-left: 30px;
}
.activités-title{
margin-bottom:30px;
margin-top: 0px;
}
.activités-card .card{
display: flex;
justify-content: space-around;
flex-direction: column;
width: 100%;
height: 439px;
padding: 0;

}
.activités-card {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-column-gap: 30px;
grid-row-gap: 0px;
padding-right: 60px;
}
 
.activités-card .card img{
    display: flex;
    height: 380px;
    width: 100%;
    border-radius: 20px 20px 0 0;
    box-shadow: 0 3px 15px 0 rgba(0, 0, 0, 0.10);
}
.activités-card .card h2{
    display: flex;
    margin: 20px 19px 20px 19px;
    font-weight: 700;
    font-size: 16px;
}

.activités-nom{

    height: 59px;
}
footer{
    display: flex;
    justify-content: space-between;
    height: 163px;
    background-color: #F2F2F2;

}
.footer h3{
    padding-bottom: 7.5px;
    margin : 0px;
}
.footer li{
    display: flex;
    padding-top: 7.5px;
    padding-bottom: 7.5px;
}

.footer{
    width: 407px;
    padding: 20px;
}
.footer ul{
    padding-left: 0px;
    margin : 0px;
}
.footer h3{
    font-size: 18px;
}

.footer li:nth-last-child(-n+1){
    padding-bottom: 0px;
}
